.contentPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btnPagination {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe3e8;
  border-radius: 0.25rem;
  font-weight: bold;
  color: #000;
  transition: all ease 0.5s;
}

button.btnPagination:not(:disabled):hover {
  border: 1px solid #000;
}

.btnPagination:disabled{
    background-color: #919EAB;
    cursor:not-allowed;
}

.activePage{
    color: #4200FF !important;
    border:1px solid #4200FF !important;
}


